<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      //var podaci = {{ languages }};
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable( {{ languages | safe }} );

        var options = {
          title: 'My Daily Activities',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    Broj zapisa u bazi: {{ collection_number }} <br>
    <!-- Jezici u kolekciji : {{ languages }} <br> -->
    <input type="button" onclick="location.href='/geo';" value="GEO" />

    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>

    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>